*{
  padding: 0;
  margin
  : 0;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
header{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 85px;
  align-items: center;
  border-bottom: 1px solid white;
  background-color: transparent;
  position: fixed;
  transition: background-color 0.3s ease;
  
  
}
#header.scrolled {
  backdrop-filter: blur(600px);
 
}

header > h1{
    
    font-size: 55px;
    display: flex;
    justify-content: start;
    text-align: center;
    align-self: start;
    align-items: center;
    width: 33%;
    color: white;
    margin-left: 10px;
    font-family: "Permanent Marker", cursive;
   
  }
ul{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }
a{
    text-decoration: none;
    color: white;
    font-family: "Proza-Libre";
    font-size: 20px;
  }
#imgTop{
  display: flex;
  background-image: url(../../public/img-top.jpg);
  width: 100%;
  height: 1500px;
  background-size: cover; /* Pour que l'image couvre tout le conteneur */
  background-position: bottom;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
#imgTop > h1{
  font-family: "prata";
  width: 100%;
  display: flex;
  color: white;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 95px;
}


